In [1]:
2+2

4

In [1]:
firstname = "favour"
print(firstname)

favour

In [2]:
print(firstname * 5)

favourfavourfavourfavourfavour

In [3]:
print(firstname + "5")

favour5

In [4]:
2 + 2

4

In [1]:
python_class = "AWS"
firstname = "sylvester"
lastname = "cole"
third_prime_number = 5
todaysdate = "26/September/2023"         )

In [ ]:
python_class = "AWS"
firstname = "sylvester"
lastname = "cole"
third_prime_number = 5
todaysdate = "26/September/2023"

In [2]:
print(type(python_class))
print(type(firstname))
print(type(lastname))
print(type(third_prime_number))
print(type(todaysdate))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>

In [17]:
Data_Value1 = 45
# Data_Value2 = 290578L
Data_Value3 = 1.02
Data_Value4 = True
Data_Value5 = "My dog is on the bed"
Data_Value6 = "45"

In [18]:
print(type(Data_Value1))
# print(type(Data_Value2))
print(type(Data_Value3))
print(type(Data_Value4))
print(type(Data_Value5))
print(type(Data_Value6))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'str'>

In [23]:
bool(1)

True

In [25]:
int(2.5)

2

In [26]:
int(2.8)

2

In [27]:
chr(76)

'L'

In [28]:
chr(77)

'M'

In [29]:
chr(65)

'A'

In [30]:
chr(101)

'e'

In [33]:
a = 2
print(type(a))

<class 'int'>

In [34]:
a = 2.5
print(type(a))

<class 'float'>

In [35]:
a = "2.5"
print(type(a))

<class 'str'>

In [42]:
# conversion of float to interger
num1 = 10
num2 = 20

num3 = (num1 + num2)

In [43]:
print ("your answer is", num3)

your answer is 30

In [44]:
print ("your answer is", float(num3))

your answer is 30.0

In [52]:
print ("your answer is", num3)

your answer is 30

In [54]:
type(num3)

float

In [57]:
"favour"

'favour'

In [58]:
type("favour")

str